@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/
/* 
	colors
	Geel: #fff030
	Groen: #8dc63f


*/
.fluid {
	clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
	display: block;
}

.fluidList {
    list-style:none;
    list-style-image:none;
    margin:0;
    padding:0;        
}
/*****************************************************************************/
html {
	height:100%;
	line-height:20px;
}
body {
	color:#333;
	font-size:15px;
	font-family: 'Roboto Light';
    height: 100%;
}
.wrapper {
    height: 100%;
}
/* header */
header .container {
	width:100%;
}
#header {
	margin-bottom:0px;
	padding:30px;
	background-color:#ececec;
	border:none;
    border-bottom: 2px solid #f17f1a;
}
/* end header */
/* nav */
.navbar-brand {
	display:none;
}
.container .navbar-default {
	background-color:transparent;
	border:none;
    padding: 15px;
    margin-bottom:0;
    font-family: 'Purista Medium';
    font-size: 18px;
    text-transform: uppercase;
}
.navbar-default .container-fluid {
    padding: 0px;
}
.navbar-default .navbar-nav > li > a {
	color:#000;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #f17f1a;
}
	/* toggle mobile */
	.navbar-header button {
		float:left;
		margin-right:0;
		margin-left:15px;
	}
	.navbar-default .navbar-toggle {
		border-color:black;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color:black;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color:#f17f1a;
	}
	.navbar-default .navbar-collapse {
		border-color: transparent;
	}
	/* end toggle mobile */
.navbar-default #social p {
    font-size: 17px;
    text-transform: none;
    display: inline;
    
}
/* end nav */
/* content */
.main {
	background-image: url(../images/bf1.jpg);
	background-position: center;
	background-size: cover;
	height: 50%;
	width: 100%;
    padding: 0px;
}
#bfbotopener .jumbotron {
	background: transparent;
    height: 100%;
    margin-bottom: 0px;
}
#bfbotopener .jumbotron a.btn {
    background-color: #f17f1a;
    border: 1px solid #f17f1a;
    font-size: x-large;
    border-radius: 0px;
    color: white;
    padding: 10px 16px;
    margin-top: 10px;
}
#bfbotopener .jumbotron a.btn:hover {
    background-color: white;
    color: black;
    border: 1px solid white;
}
#bfbotopener .jumbotron #text {
    background-color: rgba(255,255,255,0.7);
    padding: 10px;
    padding-bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px 2px;
}
/* end content */
.copyright, .copyright p {
    display: inline-block;
    text-align: center;
    padding: 30px 0;
}
/* others */
a:hover {
    color: #f17f1a;
    text-decoration: none;
}
.glyphicon-ok {
    color: #f17f1a;
}
    

/* Mobile Layout: 480px and below. */

@media only screen and (max-width: 480px) {

    #header {
        margin-bottom:0px;
        padding:10px 30px;
    }
    .main {
        height: auto;
    }
    #bfbotopener {
        height: auto;
    }
    #bfbotopener .jumbotron {
        margin: 0px;
    }
}


/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 768px) {

    /* nav */
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    .navbar .navbar-collapse {
        text-align: center;
    }
    /* end nav */
    /* content */
    #elbotop {
        margin-top: 0px;
    }
    #bfbotopener h1 {
        font-size: 55px;
    }
    #elboinfo img {
        height: 250px;
        margin-right: 15px;
    }